# Server
PORT=3000
NODE_ENV=development

# Database (PostgreSQL + PostGIS)
DB_HOST=localhost
DB_PORT=5432
DB_USER=cmp_user
DB_PASSWORD=cmp_pass
DB_NAME=cmp_db
DB_SSL=true

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Autenticación (Microsoft Entra ID)
AZURE_AD_TENANT_ID=tu-tenant-id
AZURE_AD_CLIENT_ID=tu-client-id
AZURE_AD_ISSUER=https://login.microsoftonline.com/tu-tenant-id/v2.0
AZURE_AD_JWKS_URI=https://login.microsoftonline.com/tu-tenant-id/discovery/v2.0/keys

# Autenticación Propia (JWT)
JWT_SECRET=super_secret_dev_key
JWT_EXPIRES_IN=1h

# Reglas de negocio
ALLOWED_EMAIL_DOMAIN=@empresa.com

# Almacenamiento local (Temporal)
STORAGE_PATH=./storage/evidencias
BASE_URL=http://localhost:3000
